
<div class="container">
  <h1>Plant List</h1>
  <nav class="navbar">
    <input class="form-control" type="text" name="common_name" [(ngModel)]="common_name" (ngModelChange)="Search()" placeholder="Enter Plant Common Name to Search">
  </nav>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Plant Type</th>
        <th>Bloom Time</th>
        <th>Flower Color</th>
        <th>Soil Type</th>
        <th>Habitat Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of plants | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{plant.common_name}}</td>
        <td>{{plant.plant_type}}</td>
        <td>{{plant.bloom_time}}</td>
        <td>{{plant.flower_color}}</td>
        <td>{{plant.soil_type}}</td>
        <td>{{plant.habitat_value}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
